.container-fluid {
    padding: 0 !important;
}

.jumbotron {
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}

.nav {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 20px 50px 0 50px;
}

.logo {
    float: left;
    font-weight: 600;
    font-size: 20px;
    color: white;
}

.login {
    float: right;
    color: white;
}

.slogan {
    margin-top: -350px;
    margin-bottom: 350px;
}

.text {
    text-align: left;
    margin-left: 50px;
}

.caption {
    font-family: "Avenir Next";
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
}

.what-we-do {
    margin: 50px 180px;
}

.what-we-do p {
    margin-left: 50px;
    margin-bottom: 15px;
}

.Thumbnails-background {
    background-color: #f1faef;
}

.Thumbnail-container {
    margin: 100px 40px;
}

.Thumbnail-container p{
    margin-bottom: 0;
}

.Thumbnail-img {
    margin-left: 50px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery {
    text-align: center;
    padding: 70px 0;
}

.gallery-img-wrapper {
    padding: 50px 0;
}

.gallery-img {
    width: 240px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-description {
    margin-top: 25px;
}

.subscribe-container {
    text-align: center;
    padding: 75px 20px;
    border-top: 1px solid #d8d8d8;
    position: relative;
}

.email-input {
    width: 400px;
    height: 65px;
    border-radius: 5px;
    display: inline-block;
    font-size: 18px;
    padding: 10px;
}

.subscribe-btn {
    background-color: #1e3656;
    border-radius: 50px;
    color: white;
    width: 200px;
    height: 65px;
    font-size: 18px;
    font-weight: 500;
    vertical-align: middle;
    padding-top: 20px;
    display: inline-block;
    margin-left: -50px;
}


@media screen and (max-width: 965px) {
    .what-we-do {
        margin: 40px;
    }
}

@media screen and (min-width: 650px) {
    .Thumbnail-img {
        float: left;
        margin-left: 10px;
    }

    .text {
        margin-left: 200px;
    }

}